.usersContainer {
    width: 100%;
    margin: 50px 0;
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-template-rows: auto;
    grid-row-gap: 30px;
    grid-column-gap: 40px;
    justify-items: center;
}